<div class="mediapp-viewport-w-h-full bimage container-fluid">
    <div class="flex-parent-start">
        <div class="container">
            <img id="looking" alt="Scared cat" src="../../assets/cat-looking.png">
            <h2>404</h2>
            <h6>Something's missing</h6>
            <p>This page was not found. You may have mistyped the address or the page may have moved.</p>
            <button type="button" class="btn btn-dark block-button" (click)="takeMeHome()">
                <i class="fa fa-home"></i>
                Take me home
            </button>
        </div>
    </div>
</div>
