<div class="mediapp-viewport-w-h-full bimage container-fluid">
    <div class="flex-parent-start">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12" id="user-page-col">
                    <main class="bg-dark">


                        <div *ngIf="posts.length > 0">
                            <div *ngFor="let post of posts" class="posts">
                                <article>
                                    <div class="card">
                                        <div class="card-body profile">
                                            <img *ngIf="post.user?.imgSrc === ''" alt="profile picture"
                                                title="{{post.user?.firstName}} {{post.user?.lastName}}"
                                                [src]="getImage(post.user?.imgSrc)" [routerLink]="['/contact-page/', post.user?.id]">
                                            <img *ngIf="post.user?.imgSrc !== ''" alt="profile picture"
                                            title="{{post.user?.firstName}} {{post.user?.lastName}}"
                                            [src]="post.user?.imgSrc" [routerLink]="['/contact-page/', post.user?.id]">
                                            <a [routerLink]="['/user-page/', post.user?.id]">
                                                <h5 class="card-title"><b>{{post.user?.firstName}}
                                                        {{post.user?.lastName}}</b></h5>
                                            </a>

                                        </div>
                                        <a *ngIf="isMyPage()">
                                            <button (click)="deletePost(post)"><i>Delete</i></button>
                                            <button (click)="editPost(post)">Edit</button>
                                        </a>
                                        <div *ngIf="!isEditing(post)" class="card-body">
                                            <p class="card-text">{{post.text}}</p>
                                        </div>
                                        <div *ngIf="isEditing(post)">
                                            <hr>
                                            <form class="p-3">
                                                <input class="form-control form-control-sm"
                                                type="text" placeholder="Edit text..." [value]="post.text"
                                                name="editPostText" [(ngModel)]="postToBeEdited.text">
                                            </form>
                                        </div>
                                        <div *ngIf="post.isEditing">
                                            <button *ngIf="post.imgSrc !== ''" (click)="removeImage()">Delete image</button>
                                            <input type="file" id="postImage" placeholder="Upload image"
                                                    name="image" (change)="onFileSelected($event); onFileNameChanged($event)">
                                            <button (click)="updatePost()">Apply changes</button>
                                        </div>

                                        <img *ngIf="post.image != null" class="card-img-bottom" title="Post's image"
                                            [src]="post.imgSrc" alt="Card image cap">

                                        <div class="count-section">
                                            <i class="fa fa-thumbs-up pr-3"> {{post.likes.length}}</i>
                                            <i class="fa fa-comment"> {{post.comments.length}}</i>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-6 pb-2">
                                                    <div *ngIf=!isLikedByUser(post)>
                                                        <button type="button" class="btn btn-dark block-button"
                                                            (click)="likePost(post)"><i class="fa fa-thumbs-o-up"></i>
                                                            Like</button>
                                                    </div>
                                                    <div *ngIf=isLikedByUser(post)>
                                                        <button type="button" class="btn btn-info block-button"
                                                            (click)="unlikePost(post)"><i class="fa fa-thumbs-up"></i>
                                                            Like</button>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <button type="button" class="btn btn-dark block-button" data-toggle="button"
                                                            (click)="commentToggle(post)"><i class="fa fa-comment-o"></i>
                                                            Comment</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comments -->
                                        <div *ngIf="isCommenting(post)">
                                            <hr>

                                            <form class="p-3">
                                                <input class="form-control form-control-sm" type="text" placeholder="Write a comment ..."
                                                [(ngModel)]="newComment.text" name="text" (keyup.enter)="comment(post)">
                                            </form>

                                            <div *ngIf="post.comments.length > 0">
                                                <div class="card-body">
                                                    <div class="comments">
                                                        <div *ngFor="let comment of post.comments">
                                                            <div class="comment comment-profile">
                                                                <a [routerLink]="['/user-page/', comment.user.id]">
                                                                    <img alt="profile picture"
                                                                        title="{{comment.user.firstName}} {{comment.user.lastName}}"
                                                                        src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg?auto=webp&optimize=high&width=912">
                                                                </a>
                                                                <div class="card text-white bg-secondary comment-text">
                                                                    <a [routerLink]="['/user-page/', comment.user.id]">
                                                                        <h6 class="card-title"><b>{{comment.user.firstName}}
                                                                                {{comment.user.lastName}}</b></h6>
                                                                    </a>
                                                                    <p class="card-text">
                                                                        {{comment.text}}
                                                                    </p>
                                                                </div>
                                                                <a *ngIf=!isCommentLikedByUser(comment) class="comment-like"
                                                                    href="javascript:void(0)"
                                                                    (click)="likeComment(comment)"><i>Like</i></a>
                                                                <a *ngIf=isCommentLikedByUser(comment) class="comment-like"
                                                                    href="javascript:void(0)"
                                                                    (click)="unlikeComment(comment)"><i>Unlike</i></a>
                                                                <a *ngIf="isCurrentUserComment(comment)"
                                                                    class="comment-like" href="javascript:void(0)"
                                                                    (click)="deleteComment(comment)"><i>Delete</i></a>
                                                                <i class="fa fa-thumbs-up pt-1 pr-3 float-right">
                                                                    {{comment.likes.length}}</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        </div>

                        <div *ngIf="posts.length == 0">
                            <div class="card bg-warning text-white">
                                <div class="card-body text-center">No posts available.</div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
