.bimage{
   background: url(
    'https://media.istockphoto.com/id/1432417261/photo/abstract-blurry-grey-color-for-background-blur-festival-lights-outdoor-celebration-and-white.jpg?b=1&s=612x612&w=0&k=20&c=6e2xgjykeGVuEyFKMvfyL679BZI4tDSXAbu-GU0WfKM='
    )
    center/cover;
}

main{
    border-radius: 20px;
    padding: 40px;
}

.posts > article{
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 30px;
}

#create-form{
    border: 3px solid darkcyan;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 30px;
}

.float-right{
    float: right;
}

.block-button{
    display: block;
    width: 100%;
    text-align: center;
}

#main-page-col{
    max-width: 60%;
}

.count-section{
    padding-left: 24px;
    padding-top: 10px;
}

.profile > img{
    float: left;
    display: inline;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 60px;
}

.profile > a:link, 
.profile > a:visited,
.profile > a:active{
    text-decoration: none;
    color: black;
}
.profile > a:hover{
    text-decoration: underline;
    color: black;
}

.profile > a > h5{
    margin-bottom: 0px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}