<div class="mediapp-viewport-w-h-full bimage container-fluid">
    <div class="flex-parent-start">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12" id="main-page-col">
                    <main class="bg-dark">

                        <div *ngIf="!createFormButton" class="row pb-3">
                            <div class="mx-auto">
                                <button class="btn btn-info" type="button" (click)="createForm()">+ Create new
                                    post</button>
                            </div>
                        </div>

                        <div *ngIf="createFormButton" id="create-form">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-danger float-right" type="button"
                                                (click)="closeForm()">X</button>
                                        </div>
                                    </div>
                                    <h2 style="text-align: center;"><u>New post</u></h2>

                                    <form action="post" class="p-3">
                                        <div class="form-group">
                                            <label for="postText">Add text:</label>
                                            <textarea class="form-control" id="postText" rows="3"
                                                [(ngModel)]="newPost.text" name="text"></textarea>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Upload image</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="postImage"
                                                    (change)="onFileSelected($event); onFileNameChanged($event)"
                                                    name="image">
                                                <label class="custom-file-label" for="postImage">{{selectedFile ||
                                                    'Choose file'}}</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col mx-auto">
                                                <button class="block-button btn btn-info" type="button"
                                                    (click)="sendForm()">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                        <div *ngIf="posts.length > 0">
                            <div *ngFor="let post of posts" class="posts">
                                <article>
                                    <div class="card">
                                        <div class="card-body profile">
                                            <img alt="profile picture" title="{{post.user?.firstName}} {{post.user?.lastName}}"
                                                src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg?auto=webp&optimize=high&width=912">
                                            <a href="google.hu">
                                                <h5 class="card-title"><b>{{post.user?.firstName}}
                                                    {{post.user?.lastName}}</b></h5>
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">{{post.text}}</p>
                                        </div>
                                        <img *ngIf="post.image != null" class="card-img-bottom" title="Post's image"
                                            [src]="post.imgSrc" alt="Card image cap">
                                        <div class="count-section">
                                            <i class="fa fa-thumbs-up pr-3"> {{post.likes.length}}</i>
                                            <i class="fa fa-comment"> {{post.comments.length}}</i>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 col-md-6 pb-2">
                                                    <div *ngIf=!isLikedByUser(post)>
                                                        <button type="button" class="btn btn-dark block-button"
                                                            (click)="likePost(post)"><i class="fa fa-thumbs-o-up"></i>
                                                            Like</button>
                                                    </div>
                                                    <div *ngIf=isLikedByUser(post)>
                                                        <button type="button" class="btn btn-info block-button"
                                                            (click)="unlikePost(post)"><i class="fa fa-thumbs-up"></i>
                                                            Like</button>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <button type="button" class="btn btn-dark block-button"><i
                                                            class="fa fa-comment-o"></i> Comment</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Comments -->
                                        <div *ngIf="post.comments.length > 0">
                                            <hr>
                                            <div class="card-body">
                                                <div class="comments">
                                                    <div *ngFor="let comment of post.comments">
                                                        <div class="comment comment-profile">
                                                            <a href="google.hu">
                                                                <img alt="profile picture" title="{{comment.user.firstName}} {{comment.user.lastName}}"
                                                                    src="https://www.bankrate.com/2019/03/22142110/How-to-trade-stocks.jpg?auto=webp&optimize=high&width=912">
                                                            </a>
                                                            <div class="card text-white bg-secondary comment-text">
                                                                <a href="google.hu">
                                                                    <h6 class="card-title"><b>{{comment.user.firstName}}
                                                                        {{comment.user.lastName}}</b></h6>
                                                                </a> 
                                                                <p class="card-text">
                                                                    {{comment.text}}
                                                                </p>
                                                            </div>
                                                            <div *ngIf=!isCommentLikedByUser(comment) class="p-0">
                                                                <a class="comment-like" href="like.hu"><i>Like </i></a>
                                                                <i class="fa fa-thumbs-up pt-1 pr-3 float-right"> {{comment.likes.length}}</i>
                                                            </div>
                                                            <div *ngIf=isCommentLikedByUser(comment) class="p-0">
                                                                <a class="comment-like" href="like.hu"><i>Unlike </i></a>
                                                                <i class="fa fa-thumbs-up pt-1 pr-3 float-right"> {{comment.likes.length}}</i>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>

                        </div>

                        <div *ngIf="posts.length == 0">
                            <div class="card bg-warning text-white">
                                <div class="card-body text-center">No current posts at this time.</div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>