<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 px-0">
            <nav class="mediapp-navbar navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="/main">Media app</a>
                <div class="navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li *ngIf="!authService.isLoggedIn" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/auth/login">Login</a>
                        </li>
                        <li *ngIf="!authService.isLoggedIn" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/auth/registration">Registration</a>
                        </li>
                        <li *ngIf="authService.isLoggedIn" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/main">Main Page</a>
                        </li>
                        <li *ngIf="authService.isLoggedIn" class="nav-item">
                            <button type="button"
                                    (click)="userService.logout()"
                                    class="btn btn-secondary btn-block btn-sm gradient-custom-4 text-body mt-1">
                                    Logout
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 px-0">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 px-0">
            <footer class="bg-dark text-center text-white">
                <div class="mediapp-footer text-center" style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2024 Copyright: MediaApp
                </div>
            </footer>
        </div>
    </div>
</div>