<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 px-0">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

                <a class="navbar-brand" [routerLink]="['/main']">Media app</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse mr-auto" style="width: 100%;" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/auth/login">Login</a>
                        </li>
                        <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/auth/registration">Registration</a>
                        </li>
                        <li *ngIf="authService.isLoggedIn()" class="nav-item" routerLinkActive="active">
                            <a class="nav-link" routerLink="/main">Main Page</a>
                        </li>
                    </ul>

                    <div class="search-container mr-auto" *ngIf="authService.isLoggedIn()">
                        <input type="text" name="search" class="form-control form-control-md ml-2" placeholder="Search"
                            autocomplete="off" [(ngModel)]="term" (keyup)="filterResults(term)">

                        <div class="search-results ml-2" *ngIf="filteredUsers.length > 0">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let user of filteredUsers">{{user.lastName}} {{user.firstName}}</li>
                            </ul>
                        </div>
                    </div>

                    <div *ngIf="authService.isLoggedIn()">
                        <button type="button" (click)="userService.logout()"
                            class="btn btn-secondary btn-block btn-sm text-body mt-2 mb-2 ml-2 mr-1">
                            Logout
                        </button>
                    </div>
                </div>

            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 px-0">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 px-0">
            <footer class="bg-dark text-center text-white">
                <div class="mediapp-footer text-center bg-dark">
                    © 2024 Copyright: MediaApp
                </div>
            </footer>
        </div>
    </div>
</div>