<div class="mediapp-viewport-w-h-full bimage container-fluid">
    <div class="flex-parent-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="p-5">
                            <h2 class="text-uppercase text-center mb-5">Change credentials</h2>

                            <form>

                                <div class="form-outline mb-4">
                                    <input name="first_name" type="text" id="label_first_name" [readOnly]="!isOwnUserPage()"
                                        [ngClass]="{'input-invalid': !isValidName(user.firstName), 'input-valid': isValidName(user.firstName)}" class="form-control form-control-lg" [(ngModel)]="user.firstName" />
                                    <label class="form-label" for="label_first_name">First Name</label>
                                    <div *ngIf="!isValidName(user.firstName)" class="text-danger">Please select a valid first name.</div>
                                    <div *ngIf="isValidName(user.firstName)" class="text-valid">Ok</div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input name="last_name" type="text" id="label_last_name" [readOnly]="!isOwnUserPage()"
                                        [ngClass]="{'input-invalid': !isValidName(user.lastName), 'input-valid': isValidName(user.lastName)}" class="form-control form-control-lg" [(ngModel)]="user.lastName" />
                                    <label class="form-label" for="label_last_name">Last Name</label>
                                    <div *ngIf="!isValidName(user.lastName)" class="text-danger">Please select a valid last name.</div>
                                    <div *ngIf="isValidName(user.lastName)" class="text-valid">Ok</div>
                                </div>

                                <div *ngIf="isOwnUserPage()" class="form-outline mb-4">
                                    <input name="email" type="email" id="label_email" [readOnly]="!isOwnUserPage()"
                                        [ngClass]="{'input-invalid': !isValidEmail(), 'input-valid': isValidEmail()}" class="form-control form-control-lg" [(ngModel)]="user.email" />
                                    <label class="form-label" for="label_email">Email</label>
                                    <label style="color: red;" *ngIf="isEmailChanged()" class="form-label" for="label-email">Attention: you need to log in again after altering your email address!</label>
                                    <br>
                                    <label class="form-label text-danger" *ngIf="!validEmailAddress"
                                        for="label_email">This email has been already used.</label>
                                    <div *ngIf="!isValidEmail()" class="text-danger">Please select a valid email.</div>
                                    <div *ngIf="isValidEmail()" class="text-valid">Ok</div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input name="birth" type="date" id="label_email" [readOnly]="!isOwnUserPage()"
                                        class="form-control form-control-lg" [ngModel]="user.birthDate | date:'yyyy-MM-dd'" (ngModelChange)="user.birthDate = $event" />
                                    <label class="form-label" for="label_email">Birth date</label>
                                </div>

                                

                                <div *ngFor="let address of currentUser.addresses; let i = index; trackBy: trackByIndex" class="form-outline mb-4">
                                    <div>
                                        <p><b>Address {{i + 1}}</b></p>
                                    </div>
                                    <div>
                                        <div class="form-outline mb-4">
                                            <input name="country" type="text" id="address-country-{{i}}" [readOnly]="!isOwnUserPage()"
                                                class="form-control form-control-lg" [(ngModel)]="currentUser.addresses[i].country" />
                                            <label class="form-label" for="address-country-{{i}}">Country</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input name="zip" type="text" id="address-zip-{{i}}" [readOnly]="!isOwnUserPage()"
                                                class="form-control form-control-lg" [(ngModel)]="currentUser.addresses[i].zipCode" />
                                            <label class="form-label" for="address-zip-{{i}}">Zip</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input name="city" type="text" id="address-city-{{i}}" [readOnly]="!isOwnUserPage()"
                                                class="form-control form-control-lg" [(ngModel)]="currentUser.addresses[i].city" />
                                            <label class="form-label" for="address-city-{{i}}">City</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input name="street" type="text" id="address-street-{{i}}" [readOnly]="!isOwnUserPage()"
                                                class="form-control form-control-lg" [(ngModel)]="currentUser.addresses[i].street" />
                                            <label class="form-label" for="address-street-{{i}}">Street</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input name="house-num" type="text" id="address-house-num-{{i}}" [readOnly]="!isOwnUserPage()"
                                                class="form-control form-control-lg" [(ngModel)]="currentUser.addresses[i].houseNum" />
                                            <label class="form-label" for="address-house-num-{{i}}">House number</label>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="isOwnUserPage()" class="d-flex justify-content-center">
                                    <button type="button"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                        (click)="updateUser()"
                                        [disabled]="!isAllValid()">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
